# Ignore pipenv files
Pipf*

# Ignore __pycache__, pytest
__pycache__
.pytest*

# Ignore vscode
.vscode

# Ignore iPython
.ipynb*

# Ignore dot file extensions of Parquet parts, success files
.part*
._SUCCESS*

# Ignore config files
*.cfg

# Other
.DS_Store