[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
psycopg2-binary = "*"
wheel = "*"
setuptools = "*"
psycopg2 = "*"
databricks-connect = "==9.1"
azure-storage-blob = "*"

[dev-packages]

[requires]
python_version = "3.8"
